.footer-distributed{
	background-color:rgba(231, 203, 171, 0.7); 

	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  rgba(79,55,19,1);
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  rgba(79,55,19,1);
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  rgba(6,92,48,0.8);
	color: #ffffff;
	font-size: 20px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: rgba(79,55,19,1);
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: bold;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  rgba(79,55,19,1);
	text-decoration: none;
}

.footer-distributed .footer-center p a:hover{
	color:  rgba(79,55,19,1);
}

@media only screen and (max-width: 370px) {
	.footer-distributed .footer-center p {
		font-size: 11px;
	} 
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  rgba(79,55,19,1);
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: rgba(79,55,19,1);;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 38px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-distributed .footer-social a {
  color:rgba(6,92,48,0.8);
}

.hide {
  visibility: hidden;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
  }
  
  .footer-distributed .footer-center {
    display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center; 
  }

	.footer-distributed .footer-center i{
		margin-left: 0;
  }
  
  .hide {
    visibility: visible !important;
  }

  .footer-company-name {
    visibility: hidden;
  }

}

@media (max-width: 425px) {
  .footer-distributed .footer-center {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: left; 
  } 
  
  .hide {
    visibility: visible !important;
  }

  .footer-company-name {
    visibility: hidden;
  }
}