@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 1.05rem;
  line-height: 1.5;
  color: rgba(79, 55, 19, 1);
}

.site-section {
  background-color: rgb(230, 243, 232);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: 700;
}

p {
  color: rgba(79, 55, 19, 1);
}

p a,
li a {
  color: rgba(6, 92, 48, 1);
}

p a:hover,
li a:hover {
  color: rgb(201, 164, 122);
  text-decoration: none;
}

.green {
  color: rgba(6, 92, 48, 1);
}

.brown {
  color: rgba(79, 55, 19, 1);
}

.blue {
  color: rgba(40, 157, 215, 1);
}

#welcome {
  text-align: center;
  padding: 40px;
  background: url(/assets/img/seedlings2.jpg) no-repeat;
  background-size: cover;
}

#welcome .jumbotron {
  border-radius: 20px;
  padding: 40px;
  margin: 0 auto;
}

/* #mission {
  padding:20em;
  background:url(/../assets/img/CompostSunrise_wide.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-height: 500px;
  background-position: center;
  opacity: 0.8;
}

#mission .jumbotron {
  border-radius:20px;
  padding:40px;
  margin:0 auto;
  opacity: 0;
} */

#mission {
  height: 100vh;
  /* max-height: 512px; */
  background-image: url(/assets/img/CompostSunrise_wide.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.jumbo {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 5rem;
  color: #fff;
  padding-top: 10%;
}

.down-arrow {
  font-size: 6rem;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

@media only screen and (max-width: 520px) {
  body {
    font-size: 1rem;
  }
  .lead {
    font-size: 1rem;
  }
  .jumbo {
    font-size: 3rem;
  }

  .down-arrow {
    font-size: 3rem;
  }
}

.navbar {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#logo {
  max-height: 75px;
  margin-right: 10px;
  margin-top: -8px;
  display: inline-block;
}

.text-justify {
  text-align: justify;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

li {
  text-decoration: none;
}

hr {
  color: #386c37;
}

.list-inline {
  text-align: center;
}

ul.list-inline li {
  display: inline;
  padding: 0 1em;
  color: rgba(43, 108, 55, 1);
  font-size: 16px;
  text-decoration: none;
}

#apple-fair {
  max-width: 450px;
}

.shon {
  max-width: 200px;
}

#spacer {
  height: 200px;
}

/* MEDIA QUERIES */

/* @media (max-width: 350px) {
  #welcome {
    padding:20px;
  }
}

@media (max-width: 991px) {
  #welcome .jumbotron {
    padding:20px;
  }
}

@media (max-width: 350px) {
  .site-section2 {
    text-align:justify;
    padding:75px 25px 25px 50px;
  }
}

@media (max-width: 767px) {
  .site-section2 {
    text-align:justify;
    padding:75px 0 50px;
  }
}

@media (max-width: 1199px) {
  .site-section2 {
    text-align:justify;
    padding:75px 50px;
  }
}

@media (max-width: 991px) {
  .site-section2 {
    text-align:justify;
    padding:75px 0 50px;
  }
}

@media (max-width: 250px) {
  .jumbotron img {
    max-width:250px;
    text-align:center;
  }
}

@media (max-width: 320px) {
  .container {
    width:300px;
    padding-left:20px;
    padding-right:20px;
  }
} */
